<template>
  <div>
    <gl-button new-style>default</gl-button>
    <gl-button new-style variant="info">info</gl-button>
    <gl-button new-style variant="success">success</gl-button>
    <gl-button new-style variant="warning">warning</gl-button>
    <gl-button new-style variant="danger">danger</gl-button>
  </div>
</template>
