.gl-sorting {
  .sorting-direction-button {
    @include gl-text-gray-600;
  }
}

.gl-sorting-item {
  @include gl-flex-shrink-0;
  @include gl-mr-2;

  &.inactive {
    @include gl-visibility-hidden;
  }
}
