<template>
  <div style="width: 577px; height: 24px;">
    <gl-skeleton-loader :width="577" :height="24">
      <rect width="86" height="24" rx="4" />
      <rect x="96" y="4" width="300" height="17" rx="4" />
      <rect x="432" y="4" width="145" height="17" rx="4" />
      <circle cx="412" cy="12" r="12" />
    </gl-skeleton-loader>
  </div>
</template>
