<template>
  <div style="width: 830px; height: 115px;">
    <gl-skeleton-loader :width="830" :height="115">
      <rect width="540" height="16" rx="4" />
      <rect y="50" width="701" height="16" rx="4" />
      <rect y="25" width="830" height="16" rx="4" />
      <rect y="74" width="540" height="16" rx="4" />
      <rect y="99" width="639" height="16" rx="4" />
    </gl-skeleton-loader>
  </div>
</template>
