<template>
  <gl-tabs>
    <gl-tab>
      <template slot="title">
        <span>1st</span>
        <gl-badge class="gl-tab-counter-badge" pill variant="secondary">500</gl-badge>
      </template>
      first content
    </gl-tab>
    <gl-tab>
      <template slot="title">
        <span>2nd</span>
        <gl-badge class="gl-tab-counter-badge" pill variant="secondary">250</gl-badge>
      </template>
      second content
    </gl-tab>
    <gl-tab>
      <template slot="title">
        <span>3rd</span>
        <gl-badge class="gl-tab-counter-badge" pill variant="secondary">250</gl-badge>
      </template>
      third content
    </gl-tab>
  </gl-tabs>
</template>
